# Compiled class files
/build/

# Logs and databases
.idea/
*.iml
.idea_modules/
*.log

# User-specific files
*.swp
*.swo
*.user
*.lock
.idea/workspace.xml

# Gradle-specific files
.gradle/
build/

# Kotlin-specific files
*.kotlin_module

# Miscellaneous
.DS_Store
*.class
*.jar
*.war
*.ear
/target/
